[user]
    name = Caleb Smith
    email = caleb.smithnc@gmail.com

[github]
    user = calebsmith

[core]
    editor = vim

[merge]
    tool = vimdiff

[color]
    diff = auto
    status = auto
    branch = auto

[alias]
    last = log -1
    diffp = diff --patience
    mergep = merge --strategy-option=patience

